
#playground{
	background-color: aqua;
	/*  Does not work really. The image is mirrored and also of 90 degree */
	width:476px;	/*  470 Columns in Sokoban image 25px * 19 rows */
	height:401px;	/*  325  Rows in Sokoban image 13x25px= 325 rows. 16x25=400px  */
	
}

.player{
	background-color: orange;
	border-radius: 15px;
}

 
.block{
	width:23px;
	height:23px;
	border: 1px solid black;
	float: left;
}

.B{	/* Box */
	width:23px;
	height:23px; 
	border: 1px solid black;
	background-color: black;
	float: left;
}

.W{	/* Wall */
	width:23px;
	height:23px; 
	border: 1px solid black;
	background-color: brown;
	float: left;
}

.P{	/* Player */
	background-color: orange;
	border-radius: 15px;
}

.G{	/* Goal spot for box */
	background-color: crimson;
	border-radius: 15px;
}