
#playground{
	background-color: aqua; 
	/*  Does not work really. The image is mirrored and also of 90 degree */
	width:475px;	/*  475 = 25px * 19 columns */
	height:400px;	/*  400 =  25px x 16 rows */
	
}

 
.block{
	width:23px;
	height:23px;
	border: 1px solid black;
	float: left;
}

.B{	/* Box */
	width:23px;
	height:23px; 
	border: 1px solid black;
	background-color: greenyellow;
	float: left;
}

.W{	/* Wall */
	width:23px;
	height:23px; 
	border: 1px solid black;
	background-color: brown;
	float: left;
}

.P{	/* Player */
	background-color: orange;
	border-radius: 15px;
	float: left;
}

.G{	/* Goal spot for box */
	background-color: crimson;
    width:23px;
	height:23px; 
	border: 1px solid black;
	float: left;
}

.G.B{
	background-color: greenyellow;
    width:23px;
	height:23px; 
	border: 1px solid black;
	float: left;
}

.G.P{
	background-color: orange;
	border-radius: 15px;
	float: left;
}